.cat-container {
  display: flex;
  gap: 24px;
  flex-direction: row;
  width: 1200px;
  height: 200px;
}
img {
  clip-path: circle(40px at 50% 50%);
  max-width: 160px;
  max-height: auto;
}

.box--all {
  border: solid gray 2px;
  box-shadow: 2px 2px 2px 2px lightgray;
  padding: 20px 0 0 20px;
}

.boxA {
  flex: 1 0 100px;
}
.boxB {
  flex: 1 0 100px;
}
.boxC {
  flex: 1 0 100px;
}
.boxD {
  flex: 1 0 100px;
}

@media screen and (max-width: 1200px) {
  .cat-container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 200px;
  }
@media screen and (max-width: 780px) {
  .cat-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
  }
@media screen and (max-width: 480px) {
  .cat-container {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 200px;
  }
}
