footer {
  width: 100%;
  background-color: #89c7de;
  text-align: center;
  padding: 30px 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  background-color: aqua;
}

footer > small {
  color: #fff;
}
