.banner-container {
  margin: auto; /*中央寄せ*/
  width: 430px;
  height: 400px;
}

.banner-card {
  margin: 30px 30px 30px 30px; /*cardのマージンtop、bottomを設定*/
  border: solid 1px gray;
  border-radius: 5px;
  padding: 50px 50px 50px 50px;
}

.banner-image {
  cursor: pointer;
  width: 320px;
  height: 214px;
}

@media screen and (max-width: 480px) {
  .banner-container {
    margin: auto; /*中央寄せ*/
    width: 250px;
    height: 200px;
  }

  .banner-card {
    margin: 30px 0 30px 0; /*cardのマージンtop、bottomを設定*/
    border: solid 1px gray;
    border-radius: 5px;
    padding: 50px 50px 50px 50px;
  }

  .banner-image {
    cursor: pointer;
    width: 160px;
    height: 107px;
  }
}
