@charset "utf-8";
@import url(css/header.css);
@import url(css/footer.css);
@import url(css/navbar.css);
@import url(css/cat-card.css);
@import url(css/banner-card.css);
* {
  margin: 0;
}

.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.cat-content {
  margin-top: 30px;
}
