.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 3fr 1fr;
}
.main {
  background: #fcc;
  order: 2;
}
.side {
  background: #fea;
  order: 3;
}
.list {
  background: #afd;
  order: 1;
}
.main,
.side,
.list {
  padding: 2%;
  border-radius: 10px
}

@media ( max-width : 400px ){
  .grid {
    grid-template-columns: 1fr;
  }
  .main,
  .side,
  .list {
    order: 0;
  }
}
